div {
    display: flex ;
    flex-direction: column;
    align-items: center;
}

.todo{
    background-color: black;
}

.cuadro {
    border: 1px solid black;
    border-radius: 10%;
}

.person-name {
    font-weight: bold;
    color: white;
}

.person-location {
    font-weight: bold;
    font-size: small;
    color: greenyellow;
}

.person-note {
    display: flex ;
    flex-direction: column;
    align-items: center;
    color: white;
}
