div {
    display: flex ;
    flex-direction: column;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
}

main {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro{
    background-color: rgb(32, 32, 32);
    padding: 2em;
    border-radius: 1em;
    display: flex;
    row-gap: 1rem;
}

img {
    border-radius: 50%;
    aspect-ratio: 1;
}

.title-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.person-name {
    font-size: 1.125em;
    color: white;
}

.person-location {
    font-size: 0.625em;
    color: greenyellow;
}

.person-note {
    color: white;
    font-size:0.7em;
}

.social-links{
    row-gap: 0.75em;
}
