
<div>
  <div class="person-name">
    <p>Jessica Randall</p>
  </div>
  <div class="person-location">
    <p>London, United Kingdom</p>
  </div>
  <div class="person-note">
    <p>"Front-end developer and avid reader."</p>
  </div>
  <div class="content" role="main">
    <app-main-button>1</app-main-button>
    <app-main-button>2</app-main-button>
    <app-main-button>3</app-main-button>
    <app-main-button>4</app-main-button>
    <app-main-button>5</app-main-button>
  </div>
  <div></div>
</div>
  