<main>

  <div class="cuadro">
    <figure>
      <img src="assets/img/loki.jpeg" alt="A dog at floor" width="100" height="100"/>
    </figure>

    <section class="title-content">
      <h1 class="person-name"> Jessica Randall</h1>
      <p class="person-location">London, United Kingdom</p>
    </section>

    <p class="person-note">"Front-end developer and avid reader."</p>

    <div class="social-links">
      <app-main-button titulo="GitHub"></app-main-button>
      <app-main-button titulo="Frontend Mentor"></app-main-button>
      <app-main-button titulo="Linkedin"></app-main-button>
      <app-main-button titulo="Twitter"></app-main-button>
      <app-main-button titulo="Instagram"></app-main-button>
    </div>

  </div>

</main>