
<main>

  <div class="cuadro">

      <img src="../assets/img/loki.jpeg" alt="Loki sentado" width="100" height="100">
      <section class="title-content">
        <h1 class="person-name"> Jessica Randall</h1>
        <p class="person-location">London, United Kingdom</p>
      </section>
      
      <p class="person-note">"Front-end developer and avid reader."</p>
   
      <div class="social-links">
      <app-main-button class="social-link" titulo="1"></app-main-button>
      <app-main-button class="social-link" titulo="2"></app-main-button>
      <app-main-button class="social-link" titulo="3"></app-main-button>
      <app-main-button class="social-link" titulo="4"></app-main-button>
      <app-main-button class="social-link" titulo="5"></app-main-button>
    </div>

  </div>

</main>